*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    padding:0 15%;

}

header button{
    margin:0 10px;
}

li{
    padding:1% 2%;
    display:flex;
}
li p{
    width:88%;
    text-align: left;
    margin-left:5%;
}

li .btnEdit,.btnDeleteTask{
    margin:0 6px;
    background:none;
    border:none;
    
}
li .btnEdit i{
    color:#0d47a1;
}
.btnDeleteTask i{
    color:#b71c1c;
}



img[alt="list"],[alt="tools"],[alt="html"],[alt="css"],[alt="javascript"],[alt="materialize"] { 
    max-width:20px; 
    display: block;
  }